.section-title {
  font-size: 38px;

  margin-bottom: 30px;

  position: relative;
}

.section-title::after {
  content: "";

  display: block;

  width: 60px;
  height: 4px;

  background: #d4b26a;

  margin-top: 12px;

  border-radius: 4px;
}

.about-text {
  color: #cfcfcf;

  line-height: 1.8;

  margin-bottom: 20px;

  max-width: 900px;
}